{# ############## المتغيرات المشتركة في جميع العروض ################
| المتغير                                           | النوع     | الوصف                                                                                              |
|----------------------------------------------------|----------|----------------------------------------------------------------------------------------------------------|
| المتجر                                              | متجر    |                                                                                                          |
| المتجر.id                                           | عدد صحيح  |                                                                                                          |
| المتجر.name                                         | سلسلة   |                                                                                                          |
| المتجر.username                                     | سلسلة   |                                                                                                          |
| المتجر.description                                  | سلسلة   |                                                                                                          |
| المتجر.slogan                                       | ?سلسلة  | * إذا كانت الميزة موجودة في twilight.json                                                            |
| المتجر.logo                                         | سلسلة   |                                                                                                          |
| المتجر.url                                          | سلسلة   |                                                                                                          |
| المتجر.api                                          | سلسلة   | عنوان API للمتجر الحالي                                                                                |
| المتجر.icon                                         | سلسلة   | * عنوان أيقونة المفضلة                                                                                |
| المتجر.contacts                                     | كائن    | [موبايل، هاتف، بريد إلكتروني، واتساب، تيليجرام]، مثال: store.contacts.email                       |
| المتجر.social                                       | كائن    | [إنستغرام، سناب شات، تويتر، يوتيوب، فيسبوك، بينتيريست، معروف، واتساب]، مثال: store.social.twitter |
| المتجر.settings                                     | كائن    |                                                                                                          |
| المتجر.settings.auth.email_allowed                  | بولياني  |                                                                                                          |
| المتجر.settings.auth.mobile_allowed                 | بولياني  |                                                                                                          |
| المتجر.settings.auth.is_email_required              | بولياني  |                                                                                                          |
| المتجر.settings.cart.apply_coupon_enabled           | بولياني  | هل يُسمح للزائر بتطبيق القسيمة في صفحة السلة                                                          |
| المتجر.settings.product.total_sold_enabled          | بولياني  |                                                                                                          |
| المتجر.settings.product.fit_type                    | ?سلسلة  | null عندما يكون حجم بطاقة المنتج غير مفعل، أو ['cover', 'contain']                                   |
| المتجر.settings.category.testimonial_enabled        | بولياني  | عرض شهادات عشوائية في صفحة الفئة                                                                       |
| المتجر.settings.tax.number                          | ?سلسلة  |                                                                                                          |
| المتجر.settings.tax.certificate                     | ?سلسلة  | عنوان صورة الشهادة                                                                                     |
| المتجر.settings.tax.taxable_prices_enabled          | بولياني  | هل الضريبة مشمولة في الأسعار مثل سعر المنتج 100 والضريبة 15، سيكون السعر 115                         |
| المتجر.settings.rating_enabled                      | بولياني  | يجب أن يكون واحدًا من: store_enabled أو shipping_enabled أو products_enabled                          |
| المتجر.settings.arabic_numbers_enabled              | بولياني  | هل يريد التاجر عرض الأرقام بتنسيق عربي                                                                  |
| المتجر.settings.is_multilingual                     | بولياني  |                                                                                                          |
| المتجر.settings.currencies_enabled                  | بولياني  |     
| السمة                                              | سمة    |                                                                                                          |
| السمة.id                                           | عدد صحيح  |                                                                                                          |
| السمة.name                                         | سلسلة   |                                                                                                          |
| السمة.mode                                         | سلسلة   | `live`, `preview`                                                                                      |
| السمة.is_rtl                                       | بولياني  |                                                                                                          |
| السمة.translations_hash                            | عدد صحيح  | لاستخدامه في حالة تحديث التاجر لترجمات واجهة المتجر                                                    |
| السمة.color                                        | كائن    |                                                                                                          |
| السمة.color.primary                                | سلسلة   |                                                                                                          |
| السمة.color.text                                   | سلسلة   | لون النص المناسب مقارنة بـ `theme.primary.color`، #000000، #FFFFFF                                   |
| السمة.color.reverse_primary                        | سلسلة   |                                                                                                          |
| السمة.color.reverse_text                           | سلسلة   | إذا كان `theme.text_color=#000000` يعني أن `theme.reverse_text_color=#FFFFFF`                         |
| السمة.color.is_dark                                | بولياني  | هل يعتبر لون المتجر الرئيسي `theme.primary.color` لونًا داكنًا؟                                       |
| السمة.color.darker(float alpha, ?string hexColor)  | سلسلة   | الحصول على لون أغمق من `theme.primary.color` أو من اللون الممرر، `alpha` يتراوح من 0.0-1.0          |
| السمة.color.lighter(float alpha, ?string hexColor) | سلسلة   | الحصول على لون أفتح من `theme.primary.color` أو من اللون الممرر، `alpha` يتراوح من 0.0-1.0          |
| السمة.font                                         | ?كائن  | خط محدد مسبقًا من Salla، null عندما لا تحتوي السمة على ميزة `fonts`                                   |
| السمة.font.name                                    | سلسلة   | DINNextLTArabic-Regular، Amazon-Ember، Apple، Dubai، Estedad                                          |
| السمة.font.url                                     | سلسلة   | عنوان URL كامل لـ CSS مثل: 'https://my_store.test/dist/fonts/default.css'                             |
| السمة.settings                                     | كائن    | كائن ديناميكي بقيم `settings` في twilight.json مثل `theme.settings.topnav_is_dark`                   |
| السمة.settings.set(settingName, value)             | سلسلة   | تعيين متغير عالمي، ثم الحصول عليه {{theme.settings.get('my_var','fallback') }}                       |
| السمة.settings.get(settingName, default=null)      | مختلط   | الحصول على إعداد السمة مثل `theme.settings.get('my_var', 'fallback')`                                  |
#}
<!DOCTYPE html>
<html lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
<!-- بسم الله الرحمن الرحيم -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{ theme.settings.set('placeholder', 'images/placeholder.png') }}

    {% include 'pages.partials.loading-screen-assets' %}

    <script defer data-cfasync="false" src="{{ 'product-card.js'|asset }}"></script>
    <script defer src="{{ 'main-menu.js'|asset }}"></script>

    {% block head_scripts %}{% endblock %}


    <script data-cfasync="false">
        // إعدادات JavaScript
        window.header_is_sticky = "{{theme.settings.get('header_is_sticky', 'Default Value')}}"
        window.imageZoom = "{{theme.settings.get('imageZoom')}}"
        window.can_access_wallet = {{ user.can_access_wallet | json_encode }}
    </script>
    
    {% hook 'head:start' %}
    {% hook head %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ 'app.css' | asset }}">
    <link rel="stylesheet" href="{{ theme.font.path|cdn }}"/>
    <link rel="stylesheet" href="{{ 'fonts/sallaicons.css'|cdn }}"/>
    
    <style>
        :root {
            --font-main: '{{theme.font.name}}';
            --color-primary: {{ theme.color.primary }};
            --color-primary-dark: {{ theme.color.darker(0.15) }};
            --color-primary-light: {{ theme.color.lighter(0.15) }};
            --color-primary-reverse: {{ theme.color.reverse_text }};
        }
    </style>
    {# tracking services, custom css feature. #}
    {% hook 'head:end' %}
</head>
<body id="app" class="overflow-x-hidden {% hook 'body:classes' %}
  {{ theme.settings.get('footer_is_dark') ? ' footer-is-dark' : ' footer-is-light' }}
  {{ theme.settings.get('topnav_is_dark') ? ' topnav-is-dark' : '' }}
  {{ theme.settings.get('sticky_add_to_cart') ? ' is-sticky-product-bar' : '' }}
  ">
  <div class="loader-init"></div>
<noscript>
    To get full functionality of this site you need to enable JavaScript. Here is how
    <a href="https://www.enable-javascript.com/" rel="noreferrer"
       target="_blank">To enable JavaScript on webpage</a>.
</noscript>
<div class="app-inner flex flex-col min-h-full">
    {% hook 'body:start' %}
    {% component 'header.header' %}
    {% block content %}{% endblock %}
    {% component 'footer.footer' %}
</div>
{% hook 'body:end' %}
<script defer src="{{ 'app.js' | asset }}"></script>

{# Twilight Components #}
<salla-offer-modal></salla-offer-modal>
<salla-search></salla-search>

{% if user.type=='guest' %}
    <salla-login-modal></salla-login-modal>
{% endif %}
{% block scripts %}{% endblock %}
<script src="path/to/your/script.js"></script>
</body>
</html>
